<%- include('partials/header.ejs', { title: 'Homepage', desc: 'Homepage', user }) %>
    <% if(error != ''){ %>
        <div class="card-panel red lighten-4 red-text text-darken-3">
            <%= error %>
        </div>
    <% } %>
    <% if(info != ''){ %>
        <div class="card-panel blue lighten-3 blue-text text-darken-2">
            <%= info %>
        </div>
    <% } %>
    Welcome to <strong>SSMT Reloaded</strong>!
    <br><br><br>
    <strong>SSMT Reloaded</strong> is a <em>S</em>imple <em>S</em>ocial <em>M</em>edia <em>T</em>thing. This is the third revision of SSMT, dubbed "Reloaded" for no reason other
    than it sounding cool. Enjoy your stay :)
<%- include('partials/footer.ejs') %>