<%- include('partials/header.ejs', { title: 'Homepage', desc: 'Homepage', user }) %>
    <% if(error != ''){ %>
        <div class="card-panel red lighten-4 red-text text-darken-3">
            <%= error %>
        </div>
    <% } %>
    <% if(info != ''){ %>
        <div class="card-panel blue lighten-3 blue-text text-darken-2">
            <%= info %>
        </div>
    <% } %>
    I am the homepage. 
<%- include('partials/footer.ejs') %>