<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="<%= title %> | SSMT Reloaded" />
    <% if(desc){ %>
        <meta property="og:description" content="<%= desc %>" />
    <% } else { %>
        <meta property="og:description" content="SSMT Reloaded, a higly WIP garbage thing" />
    <% } %>
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title><%= title %> | SSMT Reloaded</title>
</head>
<body>
<nav>
    <div class="nav-wrapper grey ligten-1">
        <a href="/" class="brand-logo">SSMT Reloaded</a>
        <ul id="nav-movile" class="right">
            <% if(user) { %>
                <li>
                    <a href="/users/me"><%= user.username %></a>
                </li>
                <li><a href="/logout">Log out</a></li>
            <% } else { %>
                <li><a href="/login">Log in</a></li>
                <li><a href="/signup">Sign up</a></li>
            <% } %>
                <li><a href="/threads">Threads</a></li>
        </ul>
    </div>
</nav>
<main>
<div class="container">