<%- include('../partials/header.ejs', { title: '401', desc: 'Unauthorized', user }) %>
<h3 class="center-align">Hang on...</h3>
<div class="center-align">
    <p>
        You don't have permission to do that!
        <br>
        If you think this is an error, please report it!
    </p>
</div>
<%- include('../partials/footer.ejs') %>