<%- include('../partials/header.ejs', { title: '404', desc: 'Page not found!', user }) %>
<h3 class="center-align">Whoops!</h3>
<div class="center-align">
    <p>
        It seems the page you requested doesn't exist on this server!
        <br>
        If you think this is an error, please report it!
    </p>
</div>
<%- include('../partials/footer.ejs') %>