<%- include('../partials/header.ejs', { title: '500', desc: 'Uh oh, we broke something!', user }) %>
<h3 class="center-align">Aw snap</h3>
<div class="center-align">
    <p>
        Oh no, something broke on our end.
        <br>
        The developers have been notified of this issue.
    </p>
</div>
<%- include('../partials/footer.ejs') %>