<%- include('partials/header.ejs', { title: 'Homepage', desc: 'Homepage', user }) %>
<div class="center-align">
    <h4><%= pUser.username %>'s profile</h4>
</div> 
<%- include('partials/footer.ejs') %>